.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 2rem 6rem;
}

h2 {
  margin: 4rem 8rem;
  color: rgb(168, 168, 168);
}

.main {
  padding: 2rem 6rem 6rem 6rem;
}
